.masonry {
  background: #EEE;
  max-width: 720px;
}

.item { 
  width: 25%; 
  margin: 1%;
  background: #78a6ab;
}

/*.masonry .item {
  width:  60px;
  height: 60px;
  float: left;
  background: #D26;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
}*/

.item.w0 { width:  120px; }
.item.w1 { width:  180px; }
.item.w2 { width:  240px; }

.item.h0 { height: 100px; }
.item.h1 { height: 130px; }
.item.h2 { height: 180px; }

