<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <script src="{% static 'iamaq/masonry.pkgd.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'iamaq/masonry.css' %}">
    <title>IAMAq</title>
</head>
<body>
<div id="container" class="masonry js-masonry"
     data-masonry-options='{ "columnWidth": 200, "itemSelector": ".item" }'>
    {% if people %}
    {% for p in people %}
    <div class="item {{css_tags|random}}">{{ p.title }}</div>
{% endfor %}
    </div>
{% else %}
<p>No polls are available.</p>
{% endif %}
</body>
</html>